.positive{
    background-color: #3ad29f !important;
}

.negative{
    background-color: #dc3545 !important;
}

.neutral{
    background-color: #eea303 !important;
}

#pvc-states small{
    font-size: 0.60rem !important;
}

.my-bg-white{
    background-color: #ffffff !important;
    color: #000000 !important;
}

.my-color-black {
    color: #000000 !important;
}

#total-comments{
    border-right: 4px solid #ccc;
}